
@{
    ViewBag.Title = "AdminPanel";
    Layout = null;
}

@Styles.Render("~/Content/css")

<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 20px;
        font-family: 'CenturyGothic', Arial, sans-serif;
        color: black;
        background-color: #f1f6ce;
        flex-direction: column;
    }

    form {
        text-align: center;
        width: 350px;
    }

    label {
        display: block;
        margin-bottom: 5px;`
    }

    input {
        margin-bottom: 5px;
    }

        input[type="submit"] {
            background: #d26b57;
            width: 250px;
            height: 50px;
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            margin-top: 15px;
        }

    .navPanel {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 20px;
    }

        .navPanel input[type="button"] {
            margin-bottom: 10px;
            background: #d26b57;
            width: 180px;
            height: 50px;
            color: #fff;
            text-decoration: none;
            border-radius: 10px;
            cursor: pointer;
            border: none;
            margin-bottom: 50px;
        }
</style>

<div class="bg-loader">
    <div class="loader"></div>
</div>
<h1>AdminPanel</h1>

<div class="flex" style="width: 100%">
    <div class="navPanel">
        <input onclick="ShowProducts()" id="Products" type="button" value="Продукты" />
        <input onclick="GetAddProducts()" id="AddProducts" type="button" value="Добавить товары" />
        <input onclick="ShowImages()" id="AddProducts" type="button" value="Картинки на сервере" />
        <a href="@Url.Action("Index", "Home")"><input type="button" value="Главная" /></a>
    </div>
    <div id="RenderBody"></div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/Content/Site.js"></script>
<script>
    function GetAddProducts() {
        showLoader();
        $.get('@Url.Action("AddProductsForm")', function (data) {
            hideLoader();
            $('#RenderBody').html(data);
        });
    }

    function ShowProducts() {
        showLoader();
        $.get('@Url.Action("GetProductsTable")', function (data) {
            hideLoader();
            $('#RenderBody').html(data);
        });
    }

    function ShowImages() {
        showLoader();
        $.get('@Url.Action("ImagesPage")', function (data) {
            hideLoader();
            $('#RenderBody').html(data);
        });
    }
</script>
