<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="header-content">
                <p class="header-p">
                    "Без повода" - ваш идеальный онлайн магазин для ярких букетов цветов.
                    У нас вы найдете свежие и красочные композиции, идеально подходящие для подарка без повода.
                    Подарите радость и красоту близким с нашими цветами.
                </p>
                <div class="header-logo">
                    <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                </div>
                <div class="header-contact">
                    <a href="tel:77078200729" style="color: #d26b57; font-size: 20px;"><strong>+7 (707) 820 07 29</strong></a>
                    <a href="mailto:info@orange-flowers.kz" style="color: #000; font-weight: bold">info@orange-flowers.kz</a>
                </div>

            </div>
            <div class="navbar-items">

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Разное ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Шары", "Index", "Home")</li>
                            <li>@Html.ActionLink("Мягкие игрушки", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Букеты ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Моно Букеты", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Букеты в коробке", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Цветы ▼</button>
                    <div class="long-menu-list">
                        <ul class="long-item">
                            <li>@Html.ActionLink("Розы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Пионы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Тюльпаны", "Index", "Home")</li>
                            <li>@Html.ActionLink("Гортензии", "Index", "Home")</li>
                            <li>@Html.ActionLink("Пионовидные ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Кустовые ", "Index", "Home")</li>
                            <li>@Html.ActionLink("Альстромерии", "Index", "Home")</li>
                            <li>@Html.ActionLink("Гвоздики", "Index", "Home")</li>
                            <li>@Html.ActionLink("Георгины", "Index", "Home")</li>
                            <li>@Html.ActionLink("Герберы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Гипсафилы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Каллы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Ирисы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Ландыши", "Index", "Home")</li>
                            <li>@Html.ActionLink("Лилии", "Index", "Home")</li>
                            <li>@Html.ActionLink("Орхидеи", "Index", "Home")</li>
                            <li>@Html.ActionLink("Подсолнухи", "Index", "Home")</li>
                            <li>@Html.ActionLink("Ранункулюсы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Ромашки", "Index", "Home")</li>
                            <li>@Html.ActionLink("Сирень", "Index", "Home")</li>
                            <li>@Html.ActionLink("Сухоцветы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Хризантемы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Антуриумы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Амариллисы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Гладиолусы", "Index", "Home")</li>
                            <li>@Html.ActionLink("Лизиантусы ", "Index", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Меню ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                            <li>@Html.ActionLink("О нас", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Услуги", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <div class="main-footer">
                <div>
                    <div class="footer-logo">
                        <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    </div>
                    <p>&copy; @DateTime.Now.Year - ТОО "БЕЗ ПОВОДА"</p>
                </div>
                <div>
                    <h3>Главная</h3>
                    <a href="#">Каталог</a>
                </div>
                <div>
                    <h3>Информация</h3>
                    <a href="#">Оплата</a>
                </div>
                <div>
                    <h3>КОНТАКТЫ</h3>
                    <a href="#">Контакты магазина</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
