<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.css">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="header-content">
                <p class="header-p">
                    "Без повода" - ваш идеальный онлайн магазин для ярких букетов цветов.
                    У нас вы найдете свежие и красочные композиции, идеально подходящие для подарка без повода.
                    Подарите радость и красоту близким с нашими цветами.
                </p>
                <div class="header-logo">
                    <a href="@Url.Action("Index")">
                        <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    </a>
                </div>
                <div class="header-contact">
                    <a href="tel:77078200729" style="color: #d26b57; font-size: 20px;"><strong>+7 (707) 820 07 29</strong></a>
                    <a href="mailto:info@orange-flowers.kz" style="color: #000; font-weight: bold">info@orange-flowers.kz</a>
                </div>

            </div>
            <div class="navbar-items">

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Разное ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Шары", "Index", "Home")</li>
                            <li>@Html.ActionLink("Мягкие игрушки", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Букеты ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Моно Букеты", "Products", "Home")</li>
                            <li>@Html.ActionLink("Букеты в коробке", "Products", "Home")</li>
                            <li>@Html.ActionLink("Евро Букеты", "Products", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Цветы ▼</button>
                    <div class="long-menu-list">
                        <ul class="long-item">
                            <li>@Html.ActionLink("Розы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Пионы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Тюльпаны", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гортензии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Пионовидные ", "Products", "Home")</li>
                            <li>@Html.ActionLink("Кустовые ", "Products", "Home")</li>
                            <li>@Html.ActionLink("Альстромерии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гвоздики", "Products", "Home")</li>
                            <li>@Html.ActionLink("Георгины", "Products", "Home")</li>
                            <li>@Html.ActionLink("Герберы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гипсафилы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Каллы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ирисы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ландыши", "Products", "Home")</li>
                            <li>@Html.ActionLink("Лилии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Орхидеи", "Products", "Home")</li>
                            <li>@Html.ActionLink("Подсолнухи", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ранункулюсы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ромашки", "Products", "Home")</li>
                            <li>@Html.ActionLink("Сирень", "Products", "Home")</li>
                            <li>@Html.ActionLink("Сухоцветы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Хризантемы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Антуриумы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Амариллисы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гладиолусы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Лизиантусы ", "Products", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Меню ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                            <li>@Html.ActionLink("О нас", "About", "Home")</li>
                            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <div class="main-footer">
                <div>
                    <div class="footer-logo">
                        <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    </div>
                    <p>&copy; @DateTime.Now.Year - ТОО "БЕЗ ПОВОДА"</p>
                </div>
                <div class="flex f-column">
                    <h3>Главная</h3>
                    @Html.ActionLink("Каталог", "Index", "Home")
                </div>
                <div class="flex f-column">
                    <h3>Информация</h3>
                    <a href="#">Оплата</a>
                </div>
                <div class="flex f-column">
                    <h3>КОНТАКТЫ</h3>
                    @Html.ActionLink("Контакты магазина", "Contact", "Home")
                    @Html.ActionLink("О нас", "About", "Home")
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/Content/Site.js")
</body>
</html>
