INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Розыы', '150000.00', 'лолфы', '10', '2', '1', 'цветок чей', '1', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Пионы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '2', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Тюльпаны', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '3', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Гортензии', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '3', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Пионические Розы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '4', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'КустарникиРозы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '5', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Альстромерия', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '6', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Гвоздики', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '7', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Георгины', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '8', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Герберы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '9', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Гипсафила', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '10', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Калла', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '11', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Ирисы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '12', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Эндиши', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '13', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Эндиши', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '14', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Лилии', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '15', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Орхидеи', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '16', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Подсолнухи', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '17', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Лютик', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '18', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Ромашки', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '19', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Сирень', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '20', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Сушеные цветы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '21', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Хризантемы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '22', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Антуриумы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '23', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Амариллис', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '24', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'гладиолусы', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '25', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Лизиантус', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '26', '/Content/productImgs/flowers.jpg');
INSERT INTO `products` (`ID`, `Name`, `Cost`, `Description`, `Count`, `CountFlowersInBouquet`, `ProductType`, `SearhPrompt`, `FlowersType`, `ImgRef`) VALUES (NULL, 'Ландыши', '15000.00', 'лолфы', '10', '2', '1', 'цветок чей', '27', '/Content/productImgs/flowers.jpg');

@using BPShop.Enities
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.css">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="header-content">
                <p class="header-p">
                    "Без повода" - ваш идеальный онлайн магазин для ярких букетов цветов.
                    У нас вы найдете свежие и красочные композиции, идеально подходящие для подарка без повода.
                    Подарите радость и красоту близким с нашими цветами.
                </p>
                <div class="header-logo">
                    <a href="@Url.Action("Index")">
                        <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    </a>
                </div>
                <div class="header-contact">
                    <a href="tel:77078200729" style="color: #d26b57; font-size: 20px;"><strong>+7 (707) 820 07 29</strong></a>
                    <a href="mailto:info@orange-flowers.kz" style="color: #000; font-weight: bold">info@orange-flowers.kz</a>
                </div>

            </div>
            <div class="navbar-items">

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Разное ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Шары", "Products", "Home", new { productType = (int)ProductType.Ballons }, null)</li>
                            <li>@Html.ActionLink("Мягкие игрушки", "Products", "Home", new { productType = (int)ProductType.Toys }, null)</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Букеты ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Моно Букеты", "Products", "Home", new { productType = (int)ProductType.MonoBouquet }, null)</li>
                            <li>@Html.ActionLink("Букеты в коробке", "Products", "Home", new { productType = (int)ProductType.BoxFlowers }, null)</li>
                            <li>@Html.ActionLink("Евро Букеты", "Products", "Home", new { productType = (int)ProductType.EvroBouquet }, null)</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Цветы ▼</button>
                    <div class="long-menu-list">
                        <ul class="long-item">
                            <li>@Html.ActionLink("Розы", "Products", "Home", new { flowersType = (int)FlowersType.Roses }, null)</li>
                            <li>@Html.ActionLink("Пионы", "Products", "Home", new { flowersType = (int)FlowersType.Peonies }, null)</li>
                            <li>@Html.ActionLink("Тюльпаны", "Products", "Home", new { flowersType = (int)FlowersType.Tulips }, null)</li>
                            <li>@Html.ActionLink("Гортензии", "Products", "Home", new { flowersType = (int)FlowersType.Hydrangeas }, null)</li>
                            <li>@Html.ActionLink("Пионовидные ", "Products", "Home", new { flowersType = (int)FlowersType.PeonyRoses }, null)</li>
                            <li>@Html.ActionLink("Кустовые ", "Products", "Home", new { flowersType = (int)FlowersType.ShrubRoses }, null)</li>
                            <li>@Html.ActionLink("Альстромерии", "Products", "Home", new { flowersType = (int)FlowersType.Alstroemeria }, null)</li>
                            <li>@Html.ActionLink("Гвоздики", "Products", "Home", new { flowersType = (int)FlowersType.Carnations }, null)</li>
                            <li>@Html.ActionLink("Георгины", "Products", "Home", new { flowersType = (int)FlowersType.Dahlias }, null)</li>
                            <li>@Html.ActionLink("Герберы", "Products", "Home", new { flowersType = (int)FlowersType.Gerberas }, null)</li>
                            <li>@Html.ActionLink("Гипсафилы", "Products", "Home", new { flowersType = (int)FlowersType.Gypsaphila }, null)</li>
                            <li>@Html.ActionLink("Каллы", "Products", "Home", new { flowersType = (int)FlowersType.Calla }, null)</li>
                            <li>@Html.ActionLink("Ирисы", "Products", "Home", new { flowersType = (int)FlowersType.Irises }, null)</li>
                            <li>@Html.ActionLink("Ландыши", "Products", "Home", new { flowersType = (int)FlowersType.ValleyLilies }, null)</li>
                            <li>@Html.ActionLink("Лилии", "Products", "Home", new { flowersType = (int)FlowersType.Lilies }, null)</li>
                            <li>@Html.ActionLink("Орхидеи", "Products", "Home", new { flowersType = (int)FlowersType.Orchids }, null)</li>
                            <li>@Html.ActionLink("Подсолнухи", "Products", "Home", new { flowersType = (int)FlowersType.Sunflowers }, null)</li>
                            <li>@Html.ActionLink("Ранункулюсы", "Products", "Home", new { flowersType = (int)FlowersType.Ranunculus }, null)</li>
                            <li>@Html.ActionLink("Ромашки", "Products", "Home", new { flowersType = (int)FlowersType.Daisies }, null)</li>
                            <li>@Html.ActionLink("Сирень", "Products", "Home", new { flowersType = (int)FlowersType.Lilac }, null)</li>
                            <li>@Html.ActionLink("Сухоцветы", "Products", "Home", new { flowersType = (int)FlowersType.DriedFlowers }, null)</li>
                            <li>@Html.ActionLink("Хризантемы", "Products", "Home", new { flowersType = (int)FlowersType.Chrysanthemums }, null)</li>
                            <li>@Html.ActionLink("Антуриумы", "Products", "Home", new { flowersType = (int)FlowersType.Anthuriums }, null)</li>
                            <li>@Html.ActionLink("Амариллисы", "Products", "Home", new { flowersType = (int)FlowersType.Amaryllis }, null)</li>
                            <li>@Html.ActionLink("Гладиолусы", "Products", "Home", new { flowersType = (int)FlowersType.Gladioli }, null)</li>
                            <li>@Html.ActionLink("Лизиантусы ", "Products", "Home", new { flowersType = (int)FlowersType.Lisianthus }, null)</li>


                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Меню ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                            <li>@Html.ActionLink("О нас", "About", "Home")</li>
                            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />

        <footer>
            <div class="main-footer">
                <div>
                    <div class="footer-logo">
                        <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    </div>
                    <p>&copy; @DateTime.Now.Year - ТОО "БЕЗ ПОВОДА"</p>
                </div>
                <div class="flex f-column">
                    <h3>Главная</h3>
                    @Html.ActionLink("Каталог", "Index", "Home")
                </div>
                <div class="flex f-column">
                    <h3>Информация</h3>
                    <a href="#">Оплата</a>
                </div>
                <div class="flex f-column">
                    <h3>КОНТАКТЫ</h3>
                    @Html.ActionLink("Контакты магазина", "Contact", "Home")
                    @Html.ActionLink("О нас", "About", "Home")
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/Content/Site.js")
</body>
</html>
