@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.css">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="header-content">
                <div class="header-logo">
                    <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    <p>
                        "Без повода" - ваш идеальный онлайн магазин для ярких букетов цветов.
                        У нас вы найдете свежие и красочные композиции, идеально подходящие для подарка без повода.
                        Подарите радость и красоту близким с нашими цветами.
                    </p>
                    <a href="tel:77078200729" style="color: #d26b57; font-size: 20px;"><strong>+7 (707) 820 07 29</strong></a>
                    <a href="mailto:info@orange-flowers.kz" style="color: #000; font-weight: bold">info@orange-flowers.kz</a>
                </div>

                <div class="slider-block">
                    <div class="slider">
                        <div class="slide"><img src="~/Content/imgs/flowers1.jpg" alt="Изображение 1"></div>
                        <div class="slide"><img src="~/Content/imgs/flowers2.jpg" alt="Изображение 2"></div>
                        <div class="slide"><img src="~/Content/imgs/flowers3.jpg" alt="Изображение 3"></div>
                        <div class="slide"><img src="~/Content/imgs/flowers4.jpg" alt="Изображение 4"></div>
                    </div>
                </div>
            </div>
            <div class="navbar-items">
                <div class="dropdown-navbar-items">
                    <button class="menu-button">Меню</button>
                    <div class="long-menu-list">
                        <ul class="long-item">
                            <li><a href="#">Розы</a></li>
                            <li><a href="#">Пионы</a></li>
                            <li><a href="#">Тюльпаны</a></li>
                            <li><a href="#">Гортензии</a></li>
                            <li><a href="#">Пионовидные розы</a></li>
                            <li><a href="#">Кустовые розы</a></li>
                            <li><a href="#">Альстромерии</a></li>
                            <li><a href="#">Гвоздики</a></li>
                            <li><a href="#">Георгины</a></li>
                            <li><a href="#">Герберы</a></li>
                            <li><a href="#">Гипсафилы</a></li>
                            <li><a href="#">Каллы</a></li>
                            <li><a href="#">Ирисы</a></li>
                            <li><a href="#">Ландыши</a></li>
                            <li><a href="#">Лилии</a></li>
                            <li><a href="#">Орхидеи</a></li>
                            <li><a href="#">Подсолнухи</a></li>
                            <li><a href="#">Ранункулюсы</a></li>
                            <li><a href="#">Ромашки</a></li>
                            <li><a href="#">Сирень</a></li>
                            <li><a href="#">Сухоцветы</a></li>
                            <li><a href="#">Хризантемы</a></li>
                            <li><a href="#">Антуриумы</a></li>
                            <li><a href="#">Амариллисы</a></li>
                            <li><a href="#">Гладиолусы</a></li>
                            <li><a href="#">Лизиантусы (эустома)</a></li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Меню</button>
                    <div class="menu-list">
                        <ul>
                            <li><a href="#">Главная</a></li>
                            <li><a href="#">О нас</a></li>
                            <li><a href="#">Услуги</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div>
            <h2 class="fat-h text-center">Букеты с доставкой в Алматы</h2>
        </div>

        <div class="filter-bar">
            <div class="drop-filter">
                <button id="showDropdown" class="showDropdown-btn">Цена ▼</button>
                <div id="dropdown">
                    <div id="price-range"></div>
                    <div class="range-values">
                        <div id="price-min">5,000</div>
                        <span>&nbsp — &nbsp</span>
                        <div id="price-max">100,000</div>
                        <button class="border-btn" onclick="">ok</button>
                    </div>
                </div>
            </div>
            <div class="search-filter">
                <div class="search-input-div">
                    <input type="text" value="" />
                    <svg class="" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 88 88"> 
                        <path fill="#757575" d="M85 31.1c-.5-8.7-4.4-16.6-10.9-22.3C67.6 3 59.3 0 50.6.6c-8.7.5-16.7 4.4-22.5 11-11.2 
                              12.7-10.7 31.7.6 43.9l-5.3 6.1-2.5-2.2-17.8 20 9 8.1 17.8-20.2-2.1-1.8 5.3-6.1c5.8 4.2 12.6 6.3 19.3 6.3 9 0 
                              18-3.7 24.4-10.9 5.9-6.6 8.8-15 8.2-23.7zM72.4 50.8c-9.7 10.9-26.5 11.9-37.6 2.3-10.9-9.8-11.9-26.6-2.3-37.6 
                              4.7-5.4 11.3-8.5 18.4-8.9h1.6c6.5 0 12.7 2.4 17.6 6.8 5.3 4.7 8.5 11.1 8.9 18.2.5 7-1.9 13.8-6.6 19.2z"></path>
                    </svg>
                </div>
            </div>
        </div>

        <div class="container-products">
            <div class="product">
                <img src="~/Content/imgs/flowers2.jpg" alt="Товар 1">
                <h3>Товар 1</h3>
                <p class="price">Цена: $19.99</p>
                <button class="order-button">Заказать</button>
            </div>
            <div class="product">
                <img src="~/Content/imgs/flowers2.jpg" alt="Товар 2">
                <h3>Товар 2</h3>
                <p class="price">Цена: $29.99</p>
                <button class="order-button">Заказать</button>
            </div>
            <div class="product">
                <img src="~/Content/imgs/flowers2.jpg" alt="Товар 2">
                <h3>Товар 2</h3>
                <p class="price">Цена: $29.99</p>
                <button class="order-button">Заказать</button>
            </div>
            <div class="product">
                <img src="~/Content/imgs/flowers2.jpg" alt="Товар 2">
                <h3>Товар 2</h3>
                <p class="price">Цена: $29.99</p>
                <button class="order-button">Заказать</button>
            </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"></script>


        <script>
            //slider
            $('.slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                dots: true,
                autoplay: true,
                autoplaySpeed: 4000,
                responsive: [
                    {
                        breakpoint: 1300,
                        settings: {
                            speed: 600,
                            cssEase: 'linear'
                        }
                    }
                ]
            });

            //price range
            var priceRange = document.getElementById("price-range");
            var priceMin = document.getElementById("price-min");
            var priceMax = document.getElementById("price-max");

            noUiSlider.create(priceRange, {
                start: [5000, 100000],
                connect: true,
                range: {
                    'min': 5000,
                    'max': 100000
                },
                format: {
                    to: function (value) {
                        return Math.round(value);
                    },
                    from: function (value) {
                        return value;
                    }
                }
            });

            priceRange.noUiSlider.on('update', function (values, handle) {
                if (handle === 0) {
                    priceMin.textContent = addCommas(values[0]);
                }
                if (handle === 1) {
                    priceMax.textContent = addCommas(values[1]);
                }
            });

            function addCommas(number) {
                return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
            }

            //drop menu
            var showDropdownButton = document.getElementById("showDropdown");
            var dropdown = document.getElementById("dropdown"); 
            var pricemi = document.getElementById("price-range");
            var pricema = document.getElementById("price-max");

            showDropdownButton.addEventListener("click", function () {
                if (dropdown.style.display === "none" || dropdown.style.display === "") {
                    dropdown.style.display = "block";
                } else {
                    dropdown.style.display = "none";
                }
            });
            dropdown.addEventListener("click", function (event) {
                event.stopPropagation();
            });
            document.addEventListener("click", function (event) {
                if (event.target !== showDropdownButton && event.target !== dropdown
                    && event.target !== pricemi && event.target !== pricema) {
                    dropdown.style.display = "none";
                }
            });

        </script>
        <hr />
        <footer>
            <div class="main-footer">
                <div>
                    <div class="footer-logo">
                        <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    </div>
                    <p>&copy; @DateTime.Now.Year - ТОО "БЕЗ ПОВОДА"</p>
                </div>
                <div>
                    <h3>Главная</h3>
                    <a href="#">Каталог</a>
                </div>
                <div>
                    <h3>Информация</h3>
                    <a href="#">Оплата</a>
                </div>
                <div>
                    <h3>КОНТАКТЫ</h3>
                    <a href="#">Контакты магазина</a>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
