@model List<BPShop.Enities.Product>

@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="header-content">
                <div class="header-logo">
                    <a href="@Url.Action("Index")">
                        <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    </a>
                    <p>
                        "Без повода" - ваш идеальный онлайн магазин для ярких букетов цветов.
                        У нас вы найдете свежие и красочные композиции, идеально подходящие для подарка без повода.
                        Подарите радость и красоту близким с нашими цветами.
                    </p>
                    <a href="tel:77078200729" style="color: #d26b57; font-size: 20px;"><strong>+7 (707) 820 07 29</strong></a>
                    <a href="mailto:info@orange-flowers.kz" style="color: #000; font-weight: bold">info@orange-flowers.kz</a>
                </div>

                <div class="slider-block">
                    <div class="slider">
                        <div class="slide"><img src="~/Content/imgs/flowers1.jpg" alt="Изображение 1"></div>
                        <div class="slide"><img src="~/Content/imgs/flowers2.jpg" alt="Изображение 2"></div>
                        <div class="slide"><img src="~/Content/imgs/flowers3.jpg" alt="Изображение 3"></div>
                        <div class="slide"><img src="~/Content/imgs/flowers4.jpg" alt="Изображение 4"></div>
                    </div>
                </div>
            </div>
            <div class="navbar-items">

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Разное ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Шары", "Products", "Home")</li>
                            <li>@Html.ActionLink("Мягкие игрушки", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Букеты ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Моно Букеты", "Products", "Home")</li>
                            <li>@Html.ActionLink("Букеты в коробке", "Products", "Home")</li>
                            <li>@Html.ActionLink("Евро Букеты", "Products   ", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Цветы ▼</button>
                    <div class="long-menu-list">
                        <ul class="long-item">
                            <li>@Html.ActionLink("Розы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Пионы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Тюльпаны", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гортензии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Пионовидные ", "Products", "Home")</li>
                            <li>@Html.ActionLink("Кустовые ", "Products", "Home")</li>
                            <li>@Html.ActionLink("Альстромерии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гвоздики", "Products", "Home")</li>
                            <li>@Html.ActionLink("Георгины", "Products", "Home")</li>
                            <li>@Html.ActionLink("Герберы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гипсафилы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Каллы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ирисы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ландыши", "Products", "Home")</li>
                            <li>@Html.ActionLink("Лилии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Орхидеи", "Products", "Home")</li>
                            <li>@Html.ActionLink("Подсолнухи", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ранункулюсы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ромашки", "Products", "Home")</li>
                            <li>@Html.ActionLink("Сирень", "Products", "Home")</li>
                            <li>@Html.ActionLink("Сухоцветы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Хризантемы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Антуриумы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Амариллисы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гладиолусы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Лизиантусы ", "Products", "Home")</li>
                        </ul>
                    </div>
                </div>

                <div class="dropdown-navbar-items">
                    <button class="menu-button">Меню ▼</button>
                    <div class="menu-list">
                        <ul>
                            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                            <li>@Html.ActionLink("О нас", "About", "Home")</li>
                            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="burger-menu">
                <input id="burger-toggle" type="checkbox" />
                <label class="burger-button" for="burger-toggle">
                    <span></span>
                </label>
                <div class="burger-dropdown-navbar-items">
                    <button class="burger-menu-button" id="raznoe-button">Разное ▼</button>
                    <div class="burger-menu-list" id="raznoe-list">
                        <ul>
                            <li>@Html.ActionLink("Шары", "Products", "Home")</li>
                            <li>@Html.ActionLink("Мягкие игрушки", "Contact", "Home")</li>
                        </ul>
                    </div>
                    <button class="burger-menu-button" id="bukety-button">Букеты ▼</button>
                    <div class="burger-menu-list" id="bukety-list">
                        <ul>
                            <li>@Html.ActionLink("Моно Букеты", "Products", "Home")</li>
                            <li>@Html.ActionLink("Букеты в коробке", "Products", "Home")</li>
                            <li>@Html.ActionLink("Евро Букеты", "Products   ", "Home")</li>
                        </ul>
                    </div>
                    <button class="burger-menu-button" id="cvety-button">Цветы ▼</button>
                    <div class="burger-long-menu-list" id="cvety-list">
                        <ul class="burger-long-item">
                            <li>@Html.ActionLink("Розы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Пионы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Тюльпаны", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гортензии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Пионовидные ", "Products", "Home")</li>
                            <li>@Html.ActionLink("Кустовые ", "Products", "Home")</li>
                            <li>@Html.ActionLink("Альстромерии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гвоздики", "Products", "Home")</li>
                            <li>@Html.ActionLink("Георгины", "Products", "Home")</li>
                            <li>@Html.ActionLink("Герберы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гипсафилы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Каллы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ирисы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ландыши", "Products", "Home")</li>
                            <li>@Html.ActionLink("Лилии", "Products", "Home")</li>
                            <li>@Html.ActionLink("Орхидеи", "Products", "Home")</li>
                            <li>@Html.ActionLink("Подсолнухи", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ранункулюсы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Ромашки", "Products", "Home")</li>
                            <li>@Html.ActionLink("Сирень", "Products", "Home")</li>
                            <li>@Html.ActionLink("Сухоцветы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Хризантемы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Антуриумы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Амариллисы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Гладиолусы", "Products", "Home")</li>
                            <li>@Html.ActionLink("Лизиантусы ", "Products", "Home")</li>
                        </ul>
                    </div>
                    <button class="burger-menu-button" id="menu_button">Меню ▼</button>
                    <div class="burger-menu-list" id="menu_list">
                        <ul>
                            <li>@Html.ActionLink("Главная", "Index", "Home")</li>
                            <li>@Html.ActionLink("О нас", "About", "Home")</li>
                            <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">

        <div>
            <h2 class="fat-h text-center">Букеты с доставкой в Алматы</h2>
        </div>

        <div class="container-products">
            @foreach (var product in Model)
            {
                <div class="product">
                    <img src="@product.ImgRef" alt="Товар">
                    <div style="padding: 1rem;">
                        <h3>@product.Name</h3>
                        <p class="price">Цена: @product.Cost</p>
                        <button class="order-button">Заказать</button>
                    </div>
                </div>
            }
        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.1/nouislider.min.js"></script>


        <hr />
        <footer>
            <div class="main-footer">
                <div>
                    <div class="footer-logo">
                        <img src="~/Content/imgs/BPLogo_black.png" alt="Alternate Text" />
                    </div>
                    <p>&copy; @DateTime.Now.Year - ТОО "БЕЗ ПОВОДА"</p>
                </div>
                <div class="flex f-column">
                    <h3>Главная</h3>
                    @Html.ActionLink("Каталог", "Products", "Home")
                </div>
                <div class="flex f-column">
                    <h3>Информация</h3>
                    <a href="#">Оплата</a>
                </div>
                <div class="flex f-column">
                    <h3>КОНТАКТЫ</h3>
                    @Html.ActionLink("Контакты магазина", "Contact", "Home")
                    @Html.ActionLink("О нас", "About", "Home")
                </div>
            </div>
        </footer>
    </div>
    @Scripts.Render("~/Content/Site.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Скрываем все списки при загрузке страницы
            $(".burger-menu-list").hide();
            $(".burger-long-menu-list").hide();

            // Обрабатываем клики на кнопках
            $("#raznoe-button").click(function () {
                $("#bukety-list, #cvety-list, #menu_list").slideUp();
                $("#raznoe-list").slideToggle();
            });

            $("#bukety-button").click(function () {
                $("#raznoe-list, #cvety-list, #menu_list").slideUp();
                $("#bukety-list").slideToggle();
            });

            $("#cvety-button").click(function () {
                $("#bukety-list, #raznoe-list, #menu_list").slideUp();
                $("#cvety-list").slideToggle();
            });

            $("#menu_button").click(function () {
                $("#bukety-list, #cvety-list, #raznoe-list").slideUp();
                $("#menu_list").slideToggle();
            });
        });
    </script>

</body>
</html>
